body {
    padding: 0;
    margin: 0;
}
.sm-img.on {
border:solid 2px #888888;
opacity: 1 !important;
}
.sm-img {
opacity: 0.5;
}

nav {
float: left;
width: 30%;
height: 300px;
}


table.timetable {
position: absolute;
top: 25%;
left: 50%;
margin-left: -400px;
table-layout: fixed;
empty-cells: show;
border-collapse: collapse;
}

#table_title {
padding: 10px;
font-size: 30px;


}

table,
th,
td {
border: solid 1px black;
border-collapse: collapse; 
}

th,
td {
width: 100px;
height: 30px;
}


#corner {
color: aliceblue;
}

#manager{
position: relative;
z-index: 1;
}

aside {
margin-top: 10px;
margin-left: 1100px;
position: absolute;
}
