body {
    margin-right: 0%;
    margin-left: 0%;
    text-align: center;
}

.sm-img.on {
    border:solid 2px #888888;
    opacity: 1 !important;
}
.sm-img {
    opacity: 0.5;
}

nav {
    float: left;
    width: 20%;
    height: 300px;
}




#nav1 {
    position: relative;
    float: left;
    width: 200px;
    height: 650px;
}

table {
    margin: 4%;
font-family: arial, sans-serif;
border-collapse: collapse;
width: 70%;
display: unset;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

#ackBtn{
    right: 15%;
}

#tname{
    position: absolute;
    right: 120px;
    top: 20px;
}

#ackContainer{
    position: absolute;
    right: 140px;
    top: 45px;
}